[submodule "components/lvgl_esp32_drivers"]
	path = components/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers.git
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "components/Adafruit-GFX"]
	path = components/Adafruit-GFX
	url = https://github.com/martinberlin/Adafruit-GFX-Library-ESP-IDF
[submodule "components/epd_driver"]
	path = components/epd_driver
	url = https://github.com/martinberlin/epdiy-rotation.git
